@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";
@import "./global.css";
@import "./layout.css";
@import "./components.css";
@import "./typography.css";

@media (max-width: 800px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    background-color: rgb(0, 0, 0);
    width: 100%;
  }

  .col-3grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  /* .map {
    width: 100%;
  } */
}

@media (min-width: 800px) {
  body {
    background-color: rgb(0, 0, 0);
  }
}
